<form id="form">
  chicken shop name: <input id="autocomplete"/>
  <ul class="rating-list">
    <li class="rating">
      <span class="rating__label">chicken piece rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.chickenPieceRating}}">
        <input type="range" class="chickenRange" name="chickenPieceRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
    <li class="rating">
      <span class="rating__label">chicken wing rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.chickenWingRating}}">
        <input type="range" class="chickenRange" name="chickenWingRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
    <li class="rating">
      <span class="rating__label">fry rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.fryRating}}">
        <input type="range" class="chickenRange" name="fryRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
    <li class="rating">
      <span class="rating__label">sauce rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.sauceRating}}">
        <input type="range" class="chickenRange" name="sauceRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
    <li class="rating">
      <span class="rating__label">drink rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.drinkRating}}">
        <input type="range" class="chickenRange" name="drinkRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
    <li class="rating">
      <span class="rating__label">overall rating:</span>
      <span class="nugget-0 rating__value rating__value--{{review.overallRating}}">
        <input type="range" class="chickenRange" name="overallRating" min="0" max="10" value="0">
        <label for="value" class="chickenRangeLabel">0</label>
      </span>
    </li>
  </ul>
  <p>comments: <textarea name="comments"> </textarea> </p>
  <button type="submit">
    submit review
  </button>
</form>

<script src="/js/addReview.js"></script>
<script src="/js/autocomplete.js"></script>
<script>
  var countries = [
  { label: 'United Kingdom', value: 'UK' },
  { label: 'United States', value: 'US' }
];

var input = document.getElementById("autocomplete");

const getChickenData = async () => {
  const response = await fetch("http://localhost:3000/api/fetchAllFromHasura");
  const { data } = await response.json();
  console.log('data1' , data)
  	const suggestions = data.map(element => {
		const { name: label, id: value } = element
		return {label, value}
	});
    console.log('suggestions' , suggestions)


  return suggestions;
}


autocomplete({
  input: input,
  fetch: async function(text, update) {
      text = text.toLowerCase();
      // you can also use AJAX requests instead of preloaded data
      const chickenData = await getChickenData();
      console.log('i am he chicken data ' , chickenData)
      //var suggestions = fetch("http://localhost:3000/api/fetchAllFromHasura").then(res => res.json()).data.filter(n => n.label.toLowerCase().startsWith(text))
      update(chickenData);
  },
  onSelect: function(item) {
      input.value = item.label;
  }
});
</script>